* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F67670;
}

.logo {
  height: 5em;
  // justify-self: center;
}