* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cardStyle {
  width: 120px;
  text-align: justify;
  img {
    width: 100px;
  }

}

input {
  width: 40em;
  height: 3em;
  border-radius: .9em;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: auto;
  min-height: 70vh;
  border: 5px solid maroon;
}