* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  width: 40em;
  height: 3em;
  border-radius: .9em;
}

.searchContainer {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;

  .searchAndButton {
    display: flex;
    margin: 0 auto;
  }

  .movieCardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;

    .movieCard {
      height: 16em;
      width: auto;
      margin: .5em;
    
      .movieImage {
        height: 15em;
        width: auto;
        border-radius: .7em;
      }
    }
  }


  .searchButton {
    height: 3em;
    width: 6em;
  }

}